@mixin input-form(
  $height: 2.5rem,
  $fontSize: 1rem
) {
  height: $height;
  font-size: $fontSize;
  width: 100%;
  border-radius: .3rem;
  border: 0;
  outline: none !important;
  padding-left: 1rem;
  box-shadow: $box-shadow
}