@import '/src/styles/theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 16px;

  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: black transparent; /* Para Firefox, define a cor da barra e do track */

  /* Para WebKit (Chrome, Edge, Safari) */
  *::-webkit-scrollbar {
    height: 4px; /* Altura da barra de rolagem horizontal */
    width: 4px;
    background: transparent; /* Fundo transparente */
  }

  *::-webkit-scrollbar-thumb {
    background: black; /* Cor da barra de rolagem */
    border-radius: 2px; /* Borda arredondada para a barra de rolagem */
  }

  *::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para o track */
  }
}

main {
 
}

fieldset {
  border: 0;
}

a {
  display: block;
  text-decoration: none;
  color: $color-black;
  cursor: pointer;
  // effects
  position: relative;

  &::before {
    content: "";
    transition: $transition-fast;
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 0%;
    background-color: $color-black;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

button {
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0;
}

