@import '/src/styles/theme.scss';

.Content {
  padding: 2rem 0;

  .InputName {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    
    > input {
      @include input-form();
    }
    > button {
      @include button-outline-primary();
      width: auto;
      margin: 0;
      padding: 0 1rem;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Defina sua variável $box-shadow
    border-radius: 5px;
    padding: 1px;
    margin: 1rem 0;
    background-color: $color-gray-lighter;
    border-collapse: separate; 

     // Creation CSS until Dialog
     th.creation {
      padding: 0;
      transition: $transition-fast;

      position: relative;

      > dialog {
        background-color: $color-white;
        border: 0;
        box-shadow: $box-shadow;

        position: absolute;
        left: auto;
        right: 0;
        top: 100%;
        margin: 0 auto;
        margin-top: .5rem;

        width: 100%;
        min-width: 200px;

        padding: .5rem;
        border-radius: 5px;
        color: $color-black;

        > form {
          > input {
            @include input-form();
            margin-bottom: .8rem;
          }

          > label {
            font-weight: 400;
            display: block;
            margin-bottom: .5rem;
          }

          > select {
            color: $color-black;
            background: $color-white;
            width: 100%;
            @include input-form();
            // padding: .3rem;
            appearance: none;;

            option {
              color: $color-black;
            }
          }

          footer {
            display: flex;
            gap: 10px;
            padding-top: 1rem;

            .resetCreation {
              @include button-outline-primary(.5rem);
              margin: 0;
            }

            .submitCreation {
              @include button-primary(.5rem);
              margin: 0;
            }
          }
        }
      }

      > button {
        transition: $transition-fast;
        text-align: center;
        width: 100%;
        margin-bottom: 2px;
        border-radius: 5px;
        padding: 8px;
        
        &:hover {
          background-color: $color-black;
          color: $color-white;
        }
      }
    }
  
    thead {
      tr {
        th {
          border: 1px solid  $color-white;
          border-radius: 5px;
          padding: 8px;
          text-align: left;
          height: 35px;
          background-color: $color-white;
          font-weight: 600;

          &:last-child {
            min-width: 200px;
          }
        }
      }
    }
  
    tbody {
      tr {
        transition: $transition-fast;
        margin: 0;

        td {
          border: 1px solid $color-white;
          padding: 10px;
          background-color: $color-white;
          border-radius: 5px;
          text-align: left;
          height: 35px;

          > input {
            height: 100%;
            width: 100%;
            border: 0;
            outline: 0 !important;
            border-bottom: 1px solid $color-gray-light;
            margin-bottom: -5px;
          }

          &.actions {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            height: 100%;

            .reorder {
              font-size: 1.5rem;
              cursor: grab;
            }

            .exclude {
              font-size: 1.5rem;
              margin-left: auto;
              margin-right: 1rem;
              color: darkred;

              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        &:active {
          td {
            &.actions {
              .reorder {
                cursor: grabbing;
              }
            }
          }
        }
      }
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}