@import '/src/styles/theme.scss';

.Container {
  max-width: 500px;
  margin: auto;
  box-shadow: $box-shadow;
  padding: 1rem;
  border-radius: .5rem;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: .2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      @include input-form();
      margin-bottom: .5rem
    }
    button {
      @include button-primary();
    }
  }
}