@import '/src/styles/theme.scss';

.Main {
  padding: 1rem;
}

.Header {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  border-radius: .5rem;

  h1 {
    color: $color-white;
    font-weight: 700;
    margin: 0;
    font-size: 4rem;
  }

  h2 {
    font-size: 1rem;
    color: $color-white;
    font-weight: 500;
    margin: 0;
  }
}

.Section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 1rem;
  padding: 2rem .5rem;
  height: 200px;

  .workspacesButton, 
  .createWorkspace {
    cursor: pointer;
    display: block;
    width: 100%;
    box-shadow: $box-shadow-low;
    border: 0;
    background-color: $color-white;
    border-radius: 1rem;
    transition: $transition-fast;

    &:hover {
      transform: scale(1.02);
    }
  }

  .createWorkspace {
    > span {
      font-size: 3rem;
      font-weight: bolder;
    }
  }

  .workspacesButton {
    display: flex;
    flex-direction: column;
    color: $color-black;
    padding-top: 1rem;
    text-decoration: none;
    position: relative;
    
    > span {
      padding: .1rem 1rem;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        font-size: .8rem;
      }
    }

    .Icon {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-size: 2rem;
    }
  }

  .createWorkspaceForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      @include input-form();
      padding: 0;
      text-align: center
    }

    button {
      @include button-primary();
      margin: 0;
    }
  }
}
